.apptitle {
  text-align: center;
  margin: 1rem 0;
  color: #ff2968;
}
.col-md-3{
  text-align: center;
}
.todolist {
  padding-left: 0;
}
.todolist .todoitem {
  position: relative;
  margin-bottom: 0.25rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-top: 1px solid #ccc;
  color: #999;
}
.todolist .todoitem.done .form-check-label {
  color: #999;
  text-decoration: line-through;
}
.todolist .todoitem.done .form-edit-label {
  color: #999;
  text-decoration: line-through;
  border-style:1px inset;
  background-color: white;
  max-width: 200px;
}
.todolist .todoitem.highlight {
  border-color: #ff2968;
  background-color: #ff8fb0;
}
.todolist .todoitem.highlight:last-child {
  border-color: #ff2968;
}
.todolist .todoitem:last-child {
  border-bottom: 1px solid #ccc;
}
.todolist .todoitem .btn-danger {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.todolist .todoitem .form-check-label {
  width: 100%;
}
.todolist .todoitem .form-check-label .form-check-input {
  margin-right: 1rem;
}
.jee {
  position: absolute;
  top: 0.5rem;
  right:6.5rem;
  
}
.form-check-input{
  position: absolute;
  top: 0.5rem;
  right:10rem;
  margin-left: 1rem;
}